<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- double curlies are 'variables' sent to the template by render template -->
    <p>Using {% raw %}{{results}}{% endraw %}</p>
    {{results}}
    <br>
    <p>Nicer formating with a for loop</p>
    <ul>
        {% for result in results %}
            <li>{{result[1]}}</li>
        {% endfor %}
    </ul>


</body>
</html>
