<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Document</title>
    {% endblock %}
</head>
<body>
    <!-- This is the main page with most stuff we need in it -->
    <!-- This starts and ends a 'block' that the child template will fill out with stuff -->
    <nav style="background-color: lightskyblue;">
        <p>Here is my nav. It is on every page  </p>
        <a href="/">HOME</a>
        <a href="/second-page">Page 2</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>